/* Color Stuff */
.theme-dark {
  --background-primary: #22272e !important;
  --background-secondary: #1d2229 !important;
  --background-secondary-alt: #181d24 !important;
  --background-tertiary: #13181f !important;
  --background-message-hover: #21252b !important;
  --background-floating: #171a1f !important;

  --channeltextarea-background: #2d333b !important;
  --input-background: #10151c !important;
  --modal-background: var(--background-secondary) !important;
  --channels-default: #81a1c1 !important;
  --focus-primary: #00b0f4 !important;
  --primary-dark-630: var(--background-secondary-alt) !important;

  --background-modifier-selected: #2b3d58 !important;
  --background-modifier-hover: #202e42 !important;

  --background-mentioned: #1c2e46 !important;
  --background-mentioned-hover: #1a2a3f !important;

  --header-primary: #ffffff !important;
  --header-secondary: #81a1c1 !important;
  --text-normal: #dcddde !important;
  --text-muted: #80848c !important;
  --text-link: #00b0f4 !important;
  --divider-color: var(--text-link) !important;

  --mention-brightness: 2.2;
  --mention-wrapper: var(--brand-experiment-30a);
  --mention-wrapper-text: var(--brand-experiment-330);
  --mention-wrapper-hover: 150%;
  --scrollbar-track: #1d2229;
  --scrollbar-thumb: #13181f;
}

.theme-light {
  --background-primary: #ddd8d1 !important;
  --background-secondary: #e2ddd6 !important;
  --background-secondary-alt: #e7e2db !important;
  --background-tertiary: #ece7e0 !important;
  --background-message-hover: #dedad4 !important;
  --background-floating: #e8e5e0 !important;

  --channeltextarea-background: #d2ccc4 !important;
  --input-background: #efeae3 !important;
  --modal-background: var(--background-secondary) !important;
  --channels-default: #7e5e3e !important;
  --focus-primary: #ff4f0b !important;
  --primary-dark-630: var(--background-secondary-alt) !important;

  --background-modifier-selected: #d4c2a7 !important;
  --background-modifier-hover: #dfd1bd !important;

  --background-mentioned: var(--brand-experiment-20a) !important;
  --background-mentioned-hover: var(--brand-experiment-30a) !important;

  --header-primary: #000000 !important;
  --header-secondary: #7e5e3e !important;
  --text-normal: #232221 !important;
  --text-muted: #7f7b73 !important;
  --text-link: #00b0f4 !important;
  --divider-color: var(--text-link) !important;

  --mention-brightness: -2.2;
  --mention-wrapper: var(--brand-experiment-30a);
  --mention-wrapper-text: var(--brand-experiment-600);
  --mention-wrapper-hover: 50%;
  --scrollbar-track: #e2ddd6;
  --scrollbar-thumb: #ece7e0;
}

html {
  --scrollbar-thin-thumb: var(--scrollbar-thumb) !important;
  --scrollbar-auto-thumb: var(--scrollbar-thumb) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-thumb) !important;

  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-track) !important;
  --scrollbar-auto-track: var(--scrollbar-track) !important;
}

/* Channels */
.selected-2TbFuo,
.modeSelected-3DmyhH {
  background-color: var(--background-modifier-selected) !important;
}
.wrapper-NhbLHG:active {
  background-color: var(--background-modifier-selected) !important;
}
.containerDefault-YUSmu3:hover:not(.selected-2TbFuo) .wrapper-NhbLHG:hover {
  background-color: var(--background-modifier-hover);
}
.containerDefault-YUSmu3 {
  border-radius: 0px !important;
  opacity: 1 !important;
  margin: 0px !important;
}
.wrapper-NhbLHG:active > .content-1gYQeQ {
  background-color: unset;
}

/* Forum Channel */
.container-3wLKDe {
  background-color: var(--background-message-hover) !important;
}

/* User Banners */
.popoutBanner-16rVDY {
  background-color: var(--background-secondary-alt) !important;
}
.profileBanner-33-uE1 {
  background-color: var(--background-secondary-alt) !important;
}
.settingsBanner-15-pZk {
  background-color: var(--background-secondary-alt) !important;
}
.userProfileInnerThemedNonPremium-1gT-zY .profileBanner-2zIsK7 {
  background-color: var(--background-secondary-alt) !important;
}

/*Mac Topbar Buttons*/
.winButton-3SigSb > svg {
  display: none;
}
.winButton-3SigSb:hover {
  background-color: rgba(0, 0, 0, 0);
}
.winButton-3SigSb {
  pointer-events: none;
  margin-left: -3px;
}
.winButton-3SigSb::after {
  content: "";
  padding: 7px;
  border-radius: 50px;
  pointer-events: fill;
}
.winButtonClose-3Q8ZH5 {
  margin-right: 3px;
}
.winButtonClose-3Q8ZH5::after {
  background-color: #ff605c;
}
.winButtonClose-3Q8ZH5:hover::after {
  background-color: rgba(255, 96, 92, 0.5);
}
[class^="winButtonMinMax-"]::after {
  background-color: #ffbd44;
}
[class^="winButtonMinMax-"]:hover::after {
  opacity: 0.5;
}
[class^="winButtonMinMax-"]:last-child::after {
  background-color: #00ca4e;
}
[class^="winButtonMinMax-"]:last-child:hover::after {
  opacity: 0.5;
}

/* Reactions */
.reaction-3vwAF2,
.reaction-102jx9 {
  border: none;
  border-radius: 0px !important;
  background-color: var(--background-secondary-alt) !important;
}
.reactionMe-1PwQAc,
.reactionMe-2zhiyZ {
  background-color: var(--brand-experiment-50a) !important;
}
.reaction-3vwAF2 .reactionInner-YJjOtT,
.reaction-102jx9 .reactionInner-1po5__ {
  padding: 0 0.375rem;
}
.reaction-3vwAF2 .reactionCount-26U4As,
.reaction-102jx9 .reactionCount-SWXh9W {
  filter: brightness(var(--mention-wrapper-hover)); /* Re-used a lil bit of vars */
}

/* Search Bar */
.searchBar-jGtisZ {
  width: 28px;
  transition: width 0.3s ease-in-out;
  border-radius: 0px;
}

/* Hide Useless Buttons In Input Field */
.button-ejjZWC[aria-label="Send a gift"],
.button-ejjZWC[aria-label="Open GIF picker"],
.button-ejjZWC[aria-label="Open sticker picker"] {
  display: none;
}

/* Input Field */
.form-3qe0Ni {
  background-color: var(--channeltextarea-background) !important;
  padding-left: 0px;
  padding-right: 0px;
}
.form-3qe0Ni::before {
  display: none !important;
}
.channelTextArea-1deLlK > .scrollableContainer-15eg7h,
.channelTextArea-1deLlK > .attachedBars-2BCP3l {
  padding-left: 16px !important;
  padding-right: 18px !important;
}
.buttons-uaqb-5 {
  opacity: 0;
  transition: opacity 0.1s;
}
.channelTextArea-1deLlK:hover .buttons-uaqb-5 {
  opacity: 1;
}
.channelTextAreaDisabled-1p2fQv {
  background-color: var(--channeltextarea-background) !important;
}

/* Search Modal Thing */
.searchResultsWrap-5RVOkx {
  width: 520px !important;
}
.searchOption-3u1gRt::after,
.option-ayUoaq::after {
  display: none !important;
}

/* Wider Threads & Pins*/
.messagesPopoutWrap-3zryHW,
.container-3s2w-i {
  width: 40vw !important;
}

/* User Info Field */
.container-1CH86i > .avatarWrapper-12uuu4 {
  height: 20px !important;
  min-width: 15% !important;
  padding: 6px 7px 6px 4px !important;
}
.avatarWrapper-12uuu4 > .nameTag-2Q56-H {
  /* Remove Name & Status */
  display: none !important;
}
.container-1CH86i > .directionRow-2Iu2A9 > .button-12Fmur {
  min-width: 40% !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  background-color: var(--input-background) !important;
}
.container-1CH86i div:has(button) {
  margin-left: 0px !important;
}

/* No Rounding */
.buttons-3dF5Kd > .wrapper-2vIMkT,
.menu-1QACrS,
.labelContainer-2vJzYL,
.embedFull-1HGV2S,
.botTag-7aX5WZ,
.button-2gNyE9,
.select-1Ia3hD,
.component-ifCTxY,
.contentWrapper-3vHNP2,
.userPopoutOuter-3AVBmJ,
.attachedBars-2BCP3l,
.mainCard-3KBsBI,
.tag-19iIl1,
.memberInner--L4X2b,
.lookFilled-yCfaCM,
.wrapper-3t3Yqv .controlButton-2PMNom {
  border-radius: 0px !important;
}

/* Camera & Mute Buttons In Calls */
.wrapper-3t3Yqv .staticButton-1oD4l7 {
  position: relative;
  border-radius: 0px !important;
}
.controlButton-2PMNom .contextMenuNub-NuTZ_U {
  border-radius: 0px;
}
.controlButton-2PMNom .contextMenuNub-NuTZ_U:hover {
  background-color: var(--primary-dark-700) !important;
}

/* Topbar Discord Logo */
[class*="titleBar-"] > [class*="wordmark-"] {
  padding-left: 50% !important;
}

/* Remove Useless Buttons From Top Right */
[class*="iconWrapper-"][aria-label="Inbox"],
[class*="iconWrapper-"][aria-label="Help"] {
  display: none !important;
}

/* Message Mention */
.messageListItem-ZZ7v6g > .mentioned-Tre-dv::before {
  background-color: var(--background-mentioned) !important;
  filter: brightness(var(--mention-brightness)) !important;
  width: 3px;
}
[class*="messageContent-"] > [class*="wrapper-"] {
  color: var(--mention-wrapper-text) !important;
  background: var(--mention-wrapper) !important;
}
[class*="messageContent-"] > [class*="wrapper-"]:hover {
  filter: brightness(var(--mention-wrapper-hover));
}

/* Embed, Codeblock & Image Shadows */
.imageWrapper-oMkQl4,
.embedFull-1HGV2S {
  box-shadow: 7px 5px 15px -5px rgba(0, 0, 0, 0.5);
}
code {
  box-shadow: 7px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

/* New Messages & Jump To Present Bar*/
.newMessagesBar-1hF-9G,
.jumpToPresentBar-1cEnH0 {
  border-radius: 0px !important;
  opacity: 0.8 !important;
}

/* Random White Backgrounds (fix yo shit discord) */
.footerSeparator-VzAYwb {
  background-color: var(--background-secondary-alt) !important;
}

/* Channel Title Background */
.title-5wgnIa > .children-3xh0VB {
  background-color: var(--background-tertiary);
  padding: 3px 0px 3px 5px !important;
  margin-right: 8px !important;
}
.toolbar-3_r2xA {
  padding: 3px 5px 3px 5px;
  background-color: var(--background-tertiary);
}
.toolbar-3_r2xA > .iconWrapper-2awDjA {
  padding: 1px 10px 5px 10px !important;
}
.toolbar-3_r2xA > .iconWrapper-2awDjA > .iconBadge-3Mmg92 {
  margin-right: 22% !important;
}
[class^="container-"][aria-label*="Friends"] [class^="inviteToolbar-"] [class*="divider-"] {
  display: none;
}

/* Different Menu Backgrounds */
.reactors-1VXca7,
.message-G6O-Wv,
.pageWrapper-2PwDoS,
.directoryModal-YJsOMv,
.chat-9g_3Xj,
.header-3xB4vB,
.perksModal-CLcR1c,
.uploadModal-2ie9O_,
.modalSize-3WSXDU,
.title-5wgnIa {
  background-color: var(--background-primary) !important;
}
.list-2u03C-,
.autocomplete-3NRXG8 {
  background-color: var(--background-secondary-alt) !important;
}
.categoryHeader-OpJ1Ly {
  background-color: var(--background-tertiary) !important;
}

/* Higher Contrast For Forum Channel Post Amount Number */
.channelInfo-3jN1ay > .text-xs-semibold-3E_l31 {
  color: var(--channels-default) !important;
}

/* Server Folders*/
.expandedFolderBackground-1kSAf6,
.expandedFolderIconWrapper-3RwQpD {
  background-color: var(--channeltextarea-background);
}

/* Unread Pills (Server & Channel) */
.listItem-3SmSlK > .pill-2RsI5Q > .item-2LIpTv {
  background-color: var(--header-secondary) !important;
}
.unreadRelevant-2f-VSK {
  background-color: var(--header-secondary) !important;
}

/* User Modal */
[class^="userPopoutInner-"] [class*="eyebrow-"] {
  display: none !important;
}
[class*="activity-"] > [class^="headerContainer-"],
[class*="activity-"] > [class^="platformIcon-"] {
  display: none !important;
}
[class*="textarea-"][aria-label="Note"]:focus {
  height: 90px !important;
}
[class*="lastSection-"] > [class*="messageInputContainer-"] {
  display: none !important;
}
.role-2TIOKu {
  border: none !important;
}

/* Remove Invite To Server And Remove Friend Buttons From User Context Menu */
[class*="labelContainer-"][id="user-context-invite-to-server"],
[class*="labelContainer-"][id="user-context-remove-friend"] {
  display: none;
}
